<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div [formGroup]="Login" class="col-md-4 mt-3">
      <h1 class="text-center">Login</h1>
      <div class="form-group">
        <!--Email -->
        <div class="form-group">
          <label class="w-100">Email</label>
          <input
            [(ngModel)]="email"
            formControlName="email"
            class="w-100 form-control"
          />
        </div>
        <p
          class="errorMsg"
          *ngIf="
            Login.get('email').touched &&
            Login.get('email').hasError('required')
          "
        >
          Email is required
        </p>
        <!--Password -->
        <div class="form-group">
          <label class="w-100">Password</label>
          <input
            [(ngModel)]="password"
            formControlName="password"
            type="password"
            class="w-100 form-control"
          />
        </div>
        <p
          class="errorMsg"
          *ngIf="
            Login.get('password').touched &&
            Login.get('password').hasError('required')
          "
        >
          Password is required
        </p>
      </div>
      <div>
        <button
          [disabled]="!Login.valid"
          (click)="login()"
          class="btn btn-primary w-100"
        >
          Save
        </button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
